@import 'reset.scss';
$shadow-grey: rgb(240,240,240);
body{
	width: 100%;
	margin: 0;
}
.app{
	width: 100%;
}
.wrapper{
    width: 100%;
    background: rgb(240, 237, 244);
}
.container{
	width: 100%;
	max-width: 1155px;
	margin: 0px auto;
}
.main{
	overflow: hidden;
	&__container{
		background-color: white;
		display: flex;
		flex-flow: row nowrap;
	}
}