.footer{
	width: 100%;
	background-color: rgb(72, 37, 129);
	padding: 10px 0px 30px 0px;
}
.columns{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	&__title{
		font-family: sans-serif;
	    font-size: 16px;
	    color: rgb(131, 117, 166);
	    margin-bottom: 10px;
	    font-weight: 600;
	}
	&__sub-item a, &__sub-item a:hover, &__sub-item a:active, &__sub-item a:visited, &__sub-item a:link{
		font-family: sans-serif;
	    font-size: 14px;
	    color: rgb(131, 117, 166);
	    font-weight: 600;
	    text-decoration: underline;
	}
}